<?xml version="1.0" encoding="UTF-8"?>
<types>
    <settings>
        <add_resized_images_to_library>0</add_resized_images_to_library>
        <register_translations_on_import>1</register_translations_on_import>
        <images_remote>0</images_remote>
        <images_remote_cache_time>36</images_remote_cache_time>
        <help_box>by_types</help_box>
    </settings>
    <groups>
        <group>
            <ID>1531</ID>
            <post_content></post_content>
            <post_title>Restaurant-Booking</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,restaurant-order,</_wp_types_group_fields>
                <_wp_types_group_post_types>,restaurants-to-order,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>a:2:{s:8:&quot;relation&quot;;s:3:&quot;AND&quot;;s:6:&quot;custom&quot;;s:0:&quot;&quot;;}</_wpcf_conditional_display>
            </meta>
            <hash>b718b936c1be037e2a1233d63ee34370</hash>
            <checksum>b718b936c1be037e2a1233d63ee34370</checksum>
            <__types_id>restaurant-booking</__types_id>
            <__types_title>Restaurant-Booking</__types_title>
        </group>
        <group>
            <ID>1511</ID>
            <post_content></post_content>
            <post_title>Booking Info</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,booking-reference,tour,booking-region,num-courses,tour-date,tour-price,customer-name,customer-email,customer-phone,special-requirements,hotel-name,hotel-area,open-to-join,hotel-booking-name,</_wp_types_group_fields>
                <_wp_types_group_post_types>,fulfillment,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>a:2:{s:8:&quot;relation&quot;;s:3:&quot;AND&quot;;s:6:&quot;custom&quot;;s:0:&quot;&quot;;}</_wpcf_conditional_display>
            </meta>
            <hash>fbb7fdb14c18a8104e6105991ce5e1f7</hash>
            <checksum>fbb7fdb14c18a8104e6105991ce5e1f7</checksum>
            <__types_id>booking-info</__types_id>
            <__types_title>Booking Info</__types_title>
        </group>
        <group>
            <ID>1508</ID>
            <post_content></post_content>
            <post_title>Drivers Info</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,driver-email,driver-phone,</_wp_types_group_fields>
                <_wp_types_group_post_types>,driver,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>a:2:{s:8:&quot;relation&quot;;s:3:&quot;AND&quot;;s:6:&quot;custom&quot;;s:0:&quot;&quot;;}</_wpcf_conditional_display>
            </meta>
            <hash>d36a280a9f22d2f8ded5d6d0bc929eba</hash>
            <checksum>d36a280a9f22d2f8ded5d6d0bc929eba</checksum>
            <__types_id>drivers-info</__types_id>
            <__types_title>Drivers Info</__types_title>
        </group>
        <group>
            <ID>1506</ID>
            <post_content></post_content>
            <post_title>Restaurant Info</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,restaurant-email,restaurant-phone,</_wp_types_group_fields>
                <_wp_types_group_post_types>,restaurant,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>a:2:{s:8:&quot;relation&quot;;s:3:&quot;AND&quot;;s:6:&quot;custom&quot;;s:0:&quot;&quot;;}</_wpcf_conditional_display>
            </meta>
            <hash>acb91b2a078524b9bfc340a699ceedcf</hash>
            <checksum>acb91b2a078524b9bfc340a699ceedcf</checksum>
            <__types_id>restaurant-info</__types_id>
            <__types_title>Restaurant Info</__types_title>
        </group>
    </groups>
    <fields>
        <field>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <id>restaurant-email</id>
            <name>Restaurant Email</name>
            <type>email</type>
            <slug>restaurant-email</slug>
            <meta_key>wpcf-restaurant-email</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>restaurant-email</__types_id>
            <__types_title>Restaurant Email</__types_title>
            <hash>25cbddb778d9be269234ccf2d86df677</hash>
            <checksum>25cbddb778d9be269234ccf2d86df677</checksum>
        </field>
        <field>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <id>restaurant-phone</id>
            <name>Restaurant Phone</name>
            <type>phone</type>
            <slug>restaurant-phone</slug>
            <meta_key>wpcf-restaurant-phone</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>restaurant-phone</__types_id>
            <__types_title>Restaurant Phone</__types_title>
            <hash>52c3c49884ae25335499299351700071</hash>
            <checksum>52c3c49884ae25335499299351700071</checksum>
        </field>
        <field>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <is_new>1</is_new>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <id>driver-email</id>
            <name>Driver-Email</name>
            <type>email</type>
            <slug>driver-email</slug>
            <meta_key>wpcf-driver-email</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>driver-email</__types_id>
            <__types_title>Driver-Email</__types_title>
            <hash>78943da55d8314c0b4f4bad02313fc01</hash>
            <checksum>78943da55d8314c0b4f4bad02313fc01</checksum>
        </field>
        <field>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <is_new>1</is_new>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <id>driver-phone</id>
            <name>Driver Phone</name>
            <type>phone</type>
            <slug>driver-phone</slug>
            <meta_key>wpcf-driver-phone</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>driver-phone</__types_id>
            <__types_title>Driver Phone</__types_title>
            <hash>1fce5e0ea1f72d4474a19165557174ad</hash>
            <checksum>1fce5e0ea1f72d4474a19165557174ad</checksum>
        </field>
        <field>
            <id>booking-reference</id>
            <slug>booking-reference</slug>
            <type>textfield</type>
            <name>Booking Reference</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-booking-reference</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>booking-reference</__types_id>
            <__types_title>Booking Reference</__types_title>
            <hash>685b3f86f43197a38ab9353c2104f56a</hash>
            <checksum>685b3f86f43197a38ab9353c2104f56a</checksum>
        </field>
        <field>
            <id>tour</id>
            <slug>tour</slug>
            <type>select</type>
            <name>Tour</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-select-option-3ba22e46947d531b4a0ef57cb3552052-1>
                        <title>Bali: Seminyak: 4 Courses Food Safari</title>
                        <value>Seminyak-4</value>
                    </wpcf-fields-select-option-3ba22e46947d531b4a0ef57cb3552052-1>
                    <wpcf-fields-select-option-78e4b2dd9ad6eae5514e72dac5793032-1>
                        <title>Bali: Seminyak: 3 Courses Food Safari</title>
                        <value>Seminyak-3</value>
                    </wpcf-fields-select-option-78e4b2dd9ad6eae5514e72dac5793032-1>
                    <wpcf-fields-select-option-9979566efc8f0009844a5d957e08e78e-1>
                        <title>Bali: Ubud: 4 Courses Food Safari</title>
                        <value>Ubud-4</value>
                    </wpcf-fields-select-option-9979566efc8f0009844a5d957e08e78e-1>
                    <wpcf-fields-select-option-39741952d953c6f8af067cf694bf30ec-1>
                        <title>Bali: Ubud: 3 Courses Food Safari</title>
                        <value>Ubud-3</value>
                    </wpcf-fields-select-option-39741952d953c6f8af067cf694bf30ec-1>
                    <wpcf-fields-select-option-239953a0766c71c1776c5b49493bc9b9-1>
                        <title>Bali: Jimbaran: 4 Courses Food Safari</title>
                        <value>Jimbaran-4</value>
                    </wpcf-fields-select-option-239953a0766c71c1776c5b49493bc9b9-1>
                    <wpcf-fields-select-option-c6c8bf0c4963a28b11881272a4357255-1>
                        <title>Bali: Jimbaran: 3 Courses Food Safari</title>
                        <value>Jimbaran-3</value>
                    </wpcf-fields-select-option-c6c8bf0c4963a28b11881272a4357255-1>
                </options>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-tour</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>tour</__types_id>
            <__types_title>Tour</__types_title>
            <hash>973da7bd22bb4b18e1ae8b381ae81b4e</hash>
            <checksum>973da7bd22bb4b18e1ae8b381ae81b4e</checksum>
        </field>
        <field>
            <id>tour-date</id>
            <slug>tour-date</slug>
            <type>date</type>
            <name>Tour Date</name>
            <description></description>
            <data>
                <date_and_time>and_time</date_and_time>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-tour-date</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>tour-date</__types_id>
            <__types_title>Tour Date</__types_title>
            <hash>6494e32ba07deba1e4836168ee24b507</hash>
            <checksum>6494e32ba07deba1e4836168ee24b507</checksum>
        </field>
        <field>
            <id>tour-price</id>
            <slug>tour-price</slug>
            <type>numeric</type>
            <name>Tour Price</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <validate>
                    <number>
                        <active>1</active>
                        <message>Please enter numeric data</message>
                    </number>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-tour-price</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>tour-price</__types_id>
            <__types_title>Tour Price</__types_title>
            <hash>199ce77103e909c2e2117d24f37c44c2</hash>
            <checksum>199ce77103e909c2e2117d24f37c44c2</checksum>
        </field>
        <field>
            <id>customer-name</id>
            <slug>customer-name</slug>
            <type>textfield</type>
            <name>Customer Name</name>
            <description></description>
            <data>
                <repetitive>1</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-customer-name</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>customer-name</__types_id>
            <__types_title>Customer Name</__types_title>
            <hash>df9a3d3657b21ddd84618fe3135c601d</hash>
            <checksum>df9a3d3657b21ddd84618fe3135c601d</checksum>
        </field>
        <field>
            <id>customer-email</id>
            <slug>customer-email</slug>
            <type>email</type>
            <name>Customer Email</name>
            <description></description>
            <data>
                <repetitive>1</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-customer-email</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>customer-email</__types_id>
            <__types_title>Customer Email</__types_title>
            <hash>79d0a5355e845c568e891f3b5a826b17</hash>
            <checksum>79d0a5355e845c568e891f3b5a826b17</checksum>
        </field>
        <field>
            <id>customer-phone</id>
            <slug>customer-phone</slug>
            <type>phone</type>
            <name>Customer Phone</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-customer-phone</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>customer-phone</__types_id>
            <__types_title>Customer Phone</__types_title>
            <hash>ed557605921da9212572014af5eefb91</hash>
            <checksum>ed557605921da9212572014af5eefb91</checksum>
        </field>
        <field>
            <id>special-requirements</id>
            <slug>special-requirements</slug>
            <type>textarea</type>
            <name>Special Requirements</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-special-requirements</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>special-requirements</__types_id>
            <__types_title>Special Requirements</__types_title>
            <hash>c9ac058ae895dd859e77cad63d54627f</hash>
            <checksum>c9ac058ae895dd859e77cad63d54627f</checksum>
        </field>
        <field>
            <id>hotel-name</id>
            <slug>hotel-name</slug>
            <type>textfield</type>
            <name>Hotel Name</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-hotel-name</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>hotel-name</__types_id>
            <__types_title>Hotel Name</__types_title>
            <hash>0e56d7840267c8ca1eef2d0e053d504e</hash>
            <checksum>0e56d7840267c8ca1eef2d0e053d504e</checksum>
        </field>
        <field>
            <id>hotel-area</id>
            <slug>hotel-area</slug>
            <type>textfield</type>
            <name>Hotel Area</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-hotel-area</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>hotel-area</__types_id>
            <__types_title>Hotel Area</__types_title>
            <hash>9d7a77904639a862ec646ba523085049</hash>
            <checksum>9d7a77904639a862ec646ba523085049</checksum>
        </field>
        <field>
            <id>open-to-join</id>
            <slug>open-to-join</slug>
            <type>radio</type>
            <name>Open to Join</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-radio-option-69ce1b248cdc9564abc59ad1c60a07d0-1>
                        <title>Yes</title>
                        <value>Yes</value>
                        <display_value>1</display_value>
                    </wpcf-fields-radio-option-69ce1b248cdc9564abc59ad1c60a07d0-1>
                    <wpcf-fields-radio-option-4e807ec82480c37aaae2f382aa11ff34-1>
                        <title>No</title>
                        <value>No</value>
                        <display_value>2</display_value>
                    </wpcf-fields-radio-option-4e807ec82480c37aaae2f382aa11ff34-1>
                    <default>no-default</default>
                </options>
                <display>db</display>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-open-to-join</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>open-to-join</__types_id>
            <__types_title>Open to Join</__types_title>
            <hash>0b0f444faea0c8af13e98e68c192695e</hash>
            <checksum>0b0f444faea0c8af13e98e68c192695e</checksum>
        </field>
        <field>
            <id>hotel-booking-name</id>
            <slug>hotel-booking-name</slug>
            <type>textfield</type>
            <name>Hotel Booking Name</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-hotel-booking-name</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>hotel-booking-name</__types_id>
            <__types_title>Hotel Booking Name</__types_title>
            <hash>d5a5747efeab4b58aa85d1f3e7f1859b</hash>
            <checksum>d5a5747efeab4b58aa85d1f3e7f1859b</checksum>
        </field>
        <field>
            <id>num-courses</id>
            <slug>num-courses</slug>
            <type>numeric</type>
            <name>Number of Courses</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <validate>
                    <number>
                        <active>1</active>
                        <message>Please enter numeric data</message>
                    </number>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-num-courses</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>num-courses</__types_id>
            <__types_title>Number of Courses</__types_title>
            <hash>d62eb7eeed7a44bdd9d09b02c4cedc39</hash>
            <checksum>d62eb7eeed7a44bdd9d09b02c4cedc39</checksum>
        </field>
        <field>
            <id>restaurant-order</id>
            <slug>restaurant-order</slug>
            <type>numeric</type>
            <name>Restaurant Order</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <validate>
                    <number>
                        <active>1</active>
                        <message>Please enter numeric data</message>
                    </number>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-restaurant-order</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>restaurant-order</__types_id>
            <__types_title>Restaurant Order</__types_title>
            <hash>cf2996ea77b313415b499cecb271b747</hash>
            <checksum>cf2996ea77b313415b499cecb271b747</checksum>
        </field>
        <field>
            <id>booking-region</id>
            <slug>booking-region</slug>
            <type>select</type>
            <name>Region</name>
            <description></description>
            <data>
                <options>
                    <wpcf-fields-select-option-c88dd4da3d61bc7dd49399e532dae348-1>
                        <title>Seminyak</title>
                        <value>Seminyak</value>
                    </wpcf-fields-select-option-c88dd4da3d61bc7dd49399e532dae348-1>
                    <wpcf-fields-select-option-ebf9708c5b5472f3fe7f1c7f9dd168f8-1>
                        <title>Ubud</title>
                        <value>Ubud</value>
                    </wpcf-fields-select-option-ebf9708c5b5472f3fe7f1c7f9dd168f8-1>
                    <wpcf-fields-select-option-77eaeb1da7afb3f7f59f429ed05f7e92-1>
                        <title>Jimbaran</title>
                        <value>Jimbaran</value>
                    </wpcf-fields-select-option-77eaeb1da7afb3f7f59f429ed05f7e92-1>
                </options>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-booking-region</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>booking-region</__types_id>
            <__types_title>Region</__types_title>
            <hash>00fa366a89d4e6bd42f4491e988b3aec</hash>
            <checksum>00fa366a89d4e6bd42f4491e988b3aec</checksum>
        </field>
    </fields>
    <types>
        <type>
            <wpcf-post-type>restaurant</wpcf-post-type>
            <labels>
                <name>Restaurants</name>
                <singular_name>Restaurant</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent text</parent_item_colon>
                <all_items>All items</all_items>
            </labels>
            <slug>restaurant</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <revisions>1</revisions>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <taxonomies>
                <region>1</region>
            </taxonomies>
            <id>restaurant</id>
            <__types_id>restaurant</__types_id>
            <__types_title>Restaurants</__types_title>
            <hash>02e5f47a89f63228a8b15b0964f193be</hash>
            <checksum>02e5f47a89f63228a8b15b0964f193be</checksum>
        </type>
        <type>
            <labels>
                <name>Drivers</name>
                <singular_name>Driver</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent text</parent_item_colon>
                <all_items>All items</all_items>
            </labels>
            <slug>driver</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <revisions>1</revisions>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <taxonomies>
                <region>1</region>
            </taxonomies>
            <id>driver</id>
            <__types_id>driver</__types_id>
            <__types_title>Drivers</__types_title>
            <hash>1faf9e6412826ae05fecb9a33669dc44</hash>
            <checksum>1faf9e6412826ae05fecb9a33669dc44</checksum>
        </type>
        <type>
            <__types_id>fulfillment</__types_id>
            <__types_title>Fulfillments</__types_title>
            <wpcf-post-type>fulfillment</wpcf-post-type>
            <labels>
                <name>Fulfillments</name>
                <singular_name>Fulfillment</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent text</parent_item_colon>
                <all_items>All items</all_items>
            </labels>
            <slug>fulfillment</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <revisions>1</revisions>
                <author>1</author>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <post_relationship>
                <belongs>
                    <driver>1</driver>
                </belongs>
            </post_relationship>
            <id>fulfillment</id>
            <hash>1b9cbe5ae0482c8abe5bc7af7c920b90</hash>
            <checksum>1b9cbe5ae0482c8abe5bc7af7c920b90</checksum>
        </type>
        <type>
            <__types_id>restaurants-to-order</__types_id>
            <__types_title>Restaurants-to-Orders</__types_title>
            <wpcf-post-type>restaurants-to-order</wpcf-post-type>
            <labels>
                <name>Restaurants-to-Orders</name>
                <singular_name>Restaurants-to-Order</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent text</parent_item_colon>
                <all_items>All items</all_items>
            </labels>
            <slug>restaurants-to-order</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <taxonomies>
                <region>1</region>
            </taxonomies>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <custom-fields>1</custom-fields>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <post_relationship>
                <belongs>
                    <restaurant>1</restaurant>
                    <fulfillment>1</fulfillment>
                </belongs>
            </post_relationship>
            <id>restaurants-to-order</id>
            <hash>0135efcc00ef6b9d2fd50ea99a017e38</hash>
            <checksum>0135efcc00ef6b9d2fd50ea99a017e38</checksum>
        </type>
    </types>
    <post_relationships>
        <post_relationship>a:3:{s:11:&quot;fulfillment&quot;;a:1:{s:20:&quot;restaurants-to-order&quot;;a:0:{}}s:10:&quot;restaurant&quot;;a:1:{s:20:&quot;restaurants-to-order&quot;;a:0:{}}s:6:&quot;driver&quot;;a:1:{s:11:&quot;fulfillment&quot;;a:0:{}}}</post_relationship>
    </post_relationships>
    <taxonomies>
        <taxonomy>
            <labels>
                <name>Regions</name>
                <singular_name>Region</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>region</slug>
            <description></description>
            <public>public</public>
            <supports>
                <restaurant>1</restaurant>
                <driver>1</driver>
                <restaurants-to-order>1</restaurants-to-order>
            </supports>
            <hierarchical>hierarchical</hierarchical>
            <rewrite>
                <enabled>1</enabled>
                <slug></slug>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <id>region</id>
            <__types_id>region</__types_id>
            <__types_title>Regions</__types_title>
            <checksum>3b9aad723e7b4311e60be980cd115768</checksum>
        </taxonomy>
    </taxonomies>
</types>